body {
    margin-bottom: 60px;
}

.left-column {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30%;
    background-color: #000076;
    color: #FFF;
    padding: 20px;
    overflow-y: auto;
}

.left-column a {
    color: #FFF;
}

.right-column {
    margin-left: 30%;
    padding: 20px;
}

.item h5 {
    margin-bottom: 0;
}

.item p.text-uppercase {
    margin-bottom: 0;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .left-column {
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .right-column {
        margin-left: 0;
        padding: 20px;
    }
}
