.left-column {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30%;
    background-color: #000076;
    color: #FFF;
    padding: 20px;
    overflow-y: auto;
}

.left-column a {
    color: #FFF;
}

@media (max-width: 768px) {
    .left-column {
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}
