.summary {
    width: 30%;
    background: #000076;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}
.summary a {
    color: #FFF;
}

.main {
    margin-left: 30%;
    width: 70%;
    padding: 20px;
    background: #fffefe;
    height: 100vh;
    overflow-y: auto;
}

.main .main-block {
    margin-bottom: 50px;
}

.main .main-item {
    margin-bottom: 20px;
}

.main .main-item p {
    margin-bottom: 5px;
}

.main .main-item p.text-uppercase {
    margin-top: -10px;
}

@media (min-width: 767.99px) {
    .summary-mobile {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .summary {
        display: none;
    }

    .summary-mobile {
        padding: 20px;
        background-color: #000076;
        color: #FFF;
    }

    .summary-mobile p#location {
        margin-bottom: 0px;
    }

    .summary-mobile p a {
        color: #FFF;
    }

    .main {
        margin-left: 0;
        width: 100%;
        overflow-y: visible;
    }
}